{% extends "layout.html" %}
{% block content %}

{{massage}}

<ul style="height: 90vh; overflow: auto;" id='refresh'>
    {% for post in comments %}
    <article class="media content-section" id="article">
        <div class="media-body" id="div1">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ post.author }}</a>
                <small class="text-muted">{{ post.link_title }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.stock }}</a></h2>
            <p class="article-content">{{ post.comment_body }}</p>
        </div>
    </article>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    {% endfor %}
</ul>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.js"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock content %}
{% block sidebar%}
<div class="content-section">
    <h3>Overall sentimental</h3>
    <ul class="list-group" style="width: inherit; height: 80vh; overflow: auto;" id= 'refresh2'>
        {% for sentimental in stockSentimental %}
        <li class="list-group-item list-group-item-light">

            <h5 id="{{sentimental.stock}}">{{sentimental.stock}}</h5>
            <br>
            Mentioned times: {{sentimental.mentioned_times}}

            <div class="progress">

                <div class="progress-bar bg-success" role="progressbar"
                    style="width: {{100 * sentimental.mentioned_times / highestTimes}}%" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100">
                </div>
            </div>
            Emotion : {% if sentimental.overall_emotion > 0 %} <a class="mr-2"
                href="https://finance.yahoo.com/quote/{{sentimental.stock}}/">Buy</a> 🤑 {% elif sentimental.overall_emotion ==
            0 %} <a class="mr-2" href="https://finance.yahoo.com/quote/{{sentimental.stock}}/">hold 🧐 </a>{% else %} <a
                class="mr-2" href="https://finance.yahoo.com/quote/{{sentimental.stock}}/">sell ☹ </a>{% endif %}
            <br>
            emotion score: {{sentimental.overall_emotion}}
        </li>
        {%endfor %}
    </ul>
    </p>
</div>
{%endblock sidebar%}